.filter{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}
h3{

   
    color:white
}
.sele{
    height: 22px;
    margin-top: 22px;
    margin-left: -280px;
    border-radius: 5px;
}