@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;600&display=swap');

.detail_container {
  display: block;
  padding: 4% 8%;
  text-align: justify;
}
.detail_card {
  border: 2px solid gray;
  box-shadow: 2px 2px 20px 20px rgba(60, 76, 90, 0.2);
  padding: 5%;
}
.detail_game {
  display: block;
}
.detail_game h2{
  font-family: "Urbanist";
  font-variant: small-caps;
  font-size: 40px;

}
.detail_game p{
  margin: 10px 0;
}
.detail_game li {
  display: inline-block;
  margin-left: 5px;
}
.detail_game li:not(:last-child):after {
  content: ",";
}
.back {
  display: flex;
}
.back button {
  cursor: pointer;
  line-height: 1.5;
  background-color: black;
  color: white;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin: 20px 0;
}
